@{
    ViewData["Title"] = "About";
}
<link href="~/css/style.css" rel="stylesheet" />
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
