@{
    ViewData["Title"] = "Contact";
}
<link href="~/css/style.css" rel="stylesheet" />
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        Phone Number: 0211111111
    </p>
</address>

<address>
    <p>Support:</p> <a href="mailto:Support@example.com">Support@example.com</a><br/>
    <p>Marketing:</p> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
